<div class="home-container">

  <div class="home-feature-container">
    <div class="home-feature-label-container">
      <div class="home-feature-title">JS naturally</div>
      <div class="home-feature-description">Writing more natural, support native Map Set and so on, direct assignment to object is valid</div>
    </div>

    <iframe width="100%" height="400" src="//jsfiddle.net/1q772uL0/20/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
  </div>

  <div class="home-hr"></div>

  <div class="home-feature-container">
    <iframe width="100%" height="400" src="//jsfiddle.net/yp90Lep9/21/embedded/js,html,result/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

    <div class="home-feature-label-container-right">
      <div class="home-feature-title">Best practice for react</div>
      <div class="home-feature-description">Built in dependency injection and best practices, easy to write code with good maintainability</div>
    </div>
  </div>

</div>