<aside id="sidebar"<% if (theme.sidebar === 'bottom'){ %> class="outer"<% } %>>
  <% for (var i in theme.guide){ %>
    <a class="sidebar-link" href="<%- url_for() %>v2/guide/<%- theme.guide[i] %>.html"><%= i %></a>
  <% } %>
</aside>